# VS Code
.vscode/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Logs
*.log

# Virtual environments
venv/
.venv/
.venv311/

# Environment files
.env
.env.*

# System files
Thumbs.db
.DS_Store

# Python packaging
*.egg-info/
*.egg
dist/
build/

# Temporary files
*.tmp
*.bak
*.swp
